body{
    background-color: black;
}
preloader{
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(-50%,-50%); */
    color:#ffffff;
}
h1,p{
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
}